@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700&display=swap');

#root {
  margin: 0;
  text-align: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-family: 'Bricolage Grotesque', sans-serif;
}
